@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap");
:root {
  --hue: 120; /* Change the hue value to a shade of green (e.g., 120 for green) */

  --pri-color: hsl(var(--hue), 88%, 25%); /* Darken the primary color */
  --pri-color-dark: hsl(var(--hue), 75%, 20%); /* Even darker primary color */
  --pri-color-light: hsl(
    var(--hue),
    96%,
    30%
  ); /* Slightly lighter primary color */

  --sec-color: hsl(var(--hue), 25%, 5%); /* Very dark secondary color */
  --sec-color-dark: hsl(var(--hue), 15%, 4%); /* Even darker secondary color */
  --sec-color-light: hsl(
    var(--hue),
    40%,
    8%
  ); /* Slightly lighter secondary color */

  --acc-color: hsl(var(--hue), 90%, 15%); /* Dark accent color */
  --acc-color-dark: hsl(var(--hue), 90%, 10%); /* Even darker accent color */
  --acc-color-light: hsl(
    var(--hue),
    90%,
    20%
  ); /* Slightly lighter accent color */

  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font: 1em/1.5 "Balsamiq Sans", sans-serif;
  background-color: var(--pri-color);
  color: var(--sec-color);
  margin: 0;
}

input,
button,
select {
  font: inherit;
  color: inherit;
}

img,
svg {
  vertical-align: middle;
}

p {
  margin: 0;
}

p + p {
  margin-top: 1.5em;
}

h1,
h2,
h3 {
  line-height: 1.2;
}
